@use 's-colors';
@use 't-transition';

.c-collapsible-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border: 1px solid s-colors.$black;
  border-radius: 2px;

  svg {
    width: 0.4rem;
    @include t-transition.transition(transform);

    path {
      fill: s-colors.$text;
      stroke: s-colors.$text;
      stroke-width: 0;
    }
  }
}

.c-collapsible-item[data-collapsible-is-open] {
  .c-collapsible-icon {
    svg {
      transform: rotate(180deg);
    }
  }
}
