@use 's-colors';
@use 's-typography';
@use 's-z-index';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

.l-monitor {
  line-height: 2;

  &__header {
    position: sticky;
    top: 78px;
    z-index: s-z-index.$header;
    font-size: 1rem;
    font-weight: s-typography.$font-weight-bold;
    background-color: s-colors.$white;
    box-shadow: 0 4px 8px rgba(s-colors.$black, 0.04);

    div {
      line-height: 1.3;
    }
  }

  &__project {
    &--odd {
      background-color: s-colors.$pale-grey;
    }

    &--even {
      background-color: s-colors.$white;
    }
  }

  .c-collapsible-trigger {
    margin-bottom: 0.5rem;

    &--collapsible {
      transform: translateX(-28px);
    }
  }
}
