$black:       #000000;
$white:       #ffffff;

$dark-grey:   #3c3c3c;
$dark-green:  #0b6a38;
$dark-yellow: #9b7700;
$dark-orange: #d04800;
$dark-red:    #bf2626;

$pale-grey:   #fafafa;
$pale-green:  #d1f0c1;
$pale-yellow: #fffcb1;
$pale-orange: #ffe4ce;
$pale-red:    #fcdddd;

$text:        $black;
