{#
/**
 * @var title
 */
#}

<h2 class="c-collapsible-trigger" data-collapsible-trigger>
  {% include '@monitor/c-collapsible-icon.html.twig' %}

  <span class="c-collapsible-trigger__title">{{ title }}</span>
</h2>
