{#
/**
 * @var title
 * @var isCollapsible
 */
#}

{% set classes = [
  'c-collapsible-trigger',
  isCollapsible ? 'c-collapsible-trigger--collapsible',
] %}

<h2 class="{{ addClasses(classes) }}" data-collapsible-trigger>
  {% if isCollapsible %}
    {% include '@monitor/c-collapsible-icon.html.twig' %}
  {% endif %}

  <span class="c-collapsible-trigger__title">{{ title }}</span>
</h2>
