{#
/**
 * Section wrapper.
 * Use {% embed %} and override the section_content block.
 *
 * @block sectionContent
 */
#}

<div class="c-section">
    <div class="c-section__content">

        {% block sectionContent %}{% endblock %}

    </div>
</div>
